{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card ">
                <div class="card-body ">
                    <form method="post" action="{% url 'add_suggestion' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-12">
                            <h5 class="form-title"><span>Add Feedback</span></h5>
                        </div>
                        {% include 'includes/messages.html' %}

                        <div class="col-sm-11">
                            <div class="form-group">
                                <label>Content</label>
                                <textarea class="form-control" name="content" required></textarea>
                            </div>
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}