{% extends 'base.html' %}
{% block content %}
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-12">
                {% include 'includes/messages.html' %}
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="table_id" class="table table-hover table-center mb-0">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Content</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in noti %}

                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ i.created_at }}</td>
                                        <td>{{ i.content }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}